<label><small>Routes</small></label>
<input type="checkbox" [(ngModel)]="showRoutes" (ngModelChange)="updateRoutes($event)">
<label><small>Map</small></label>
<input type="checkbox" [(ngModel)]="showMap" (ngModelChange)="updateMap($event)">
<!-- See https://medium.com/angular-in-depth/google-maps-is-now-an-angular-component-821ec61d2a0 -->
<google-map #map height="85vh" width="100%"
            [center]="center"
            [zoom]="zoom"
            [options]="{
                'clickableIcons': false,
                'fullscreenControl': false,
                'streetViewControl': false,
                'disableDefaultUI': true
                }">
    <map-marker #towerElem *ngFor="let tower of towers"
                [title]="tower.getTitle()"
                [position]="tower.getPosition()"
                [label]="tower.getLabel()"
                [options]="{icon: tower.getIcon()}"
                (mapClick)="openTowerInfo(towerElem)">
    </map-marker>
    <map-info-window #infoWindow>{{ infoContent }}</map-info-window>
</google-map>
